/* Default styles */

@import 'src/assets/sass/vars.scss';

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: $font;
    font-style: normal;
    background: $bg-body;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}


@import 'src/assets/sass/blocks/form.scss';
@import 'src/assets/sass/blocks/footer.scss';